h2 {
  color: maroon;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: rgb(230, 81, 0);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.entry {
  margin: 1em auto;
  width: 50%;
  border: 1px solid salmon;
  border-radius: 10px;
  padding: 1em;
}
